#container {
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.wrapper{
    display: flexbox;
    align-items: center;
    justify-content: center;
}


.square{
    border: 1px solid black;
   
}
.black{
    background-color: black;
}